<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register mat-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      Register an account
    </div>
    <form [formGroup]="userRegForm" (ngSubmit)="register()">
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-input-container>
              <input matInput placeholder="First Name" type="text" id="firstname" required formControlName="firstname">
            </mat-input-container>
            <mat-input-container>
                <input matInput placeholder="Last Name" type="text" id="lastname" required formControlName="lastname">
              </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="user name" type="text" id="username" required formControlName="username">
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="email" type="text" id="email" required formControlName="email">
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="password" type="password" id="password" required formControlName="password">
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="confirm password" type="password" id="password-confirm" required formControlName="passwordConfirm">
        </mat-input-container>

        <mat-form-field>
          <mat-select placeholder="Employee Role" required formControlName="role" id="role" >
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox class="remember-me">I agree<a href="javascript:;">Registration Agreement</a></mat-checkbox>
        </div>
        <button color="primary" mat-raised-button [disabled]="!userRegForm.valid">Create Account</button>
        <p class="note">Already have an account?<br/> <a [routerLink]="['/sigin']">Login</a></p>
      </div>
    </form>
  </div>
</div>
